*{
    padding: 0px;
    margin: 0px;
}

header{
    background-color: #7A1C1C;
    min-height: 60px;
    max-height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    position: sticky;
    left: 0px;
    top: 0px;

    li{
        list-style-type: none;

        img{
            width: 80px;
        }

        #menu_{
            top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            a{
                justify-self: center;
                justify-content: center;
                justify-items: center;
                align-items: center;
                align-content: center;
                align-self: center;
                
            }
        }
    }

    .logo_los_pampas{
        position: absolute;
        left: 50%;
        translate: -110px;
        width: 220px;
    }

    a{
        color: black;
        text-decoration: none;
        background-color: white;
        border: none;
        box-shadow: none;
        height: 25px;
        width:200px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        text-align: left;
        align-content: center;
        border-radius: 5px;
        padding: 4px 10px;
        cursor: pointer;
    }
    
}


@media (max-width: 710px) {
    header{

        a{
            width: 50px;
        }
    }
}

main{
    background-color: white;

    #banner{
        background-image: url("../img/Banner\ LosPampas\ \(3\).png");
        background-position: 0px 30%;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 72vh;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;

        @media (max-width: 620px) {
            .fade{
                padding-bottom: 50px;
                
            }
        }
        
        .fade{
            opacity: 100%;
            width: 100% !important;
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0)) !important;
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
            justify-content: end !important;

            h1{
                font-size: 6vw !important;
                text-align: center !important;
            }
            
            h4{
                font-family: sans-serif !important;
                font-size: 2.5vw !important;
                font-weight: 100 !important;
                color: #ffffffd8 !important;
            }
            
        }

    }

    #contato{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        height: 22vh;

        @media (max-width:620px) {
            a{
                margin: 20px;
            }
        }

        a{
            background-color: #ffffff15;
            border-radius: 20px;
            width: 120px;
            height: 120px;
            display: inline-block;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 40px;
            color: white;
            text-decoration: none;
            transition-duration: 0.5s;


            .contatos{
                display: flex;
                flex-direction: column;
                align-items: center;

                p{
                    
                    text-align: center;
                    font-size: 20px;
                }
            }
        }

        a:hover{
            translate: -5px -5px;
            box-shadow: 1px 1px 5px 0px rgba(243, 112, 112, 0.466);
        }
    }

    #carrocel{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        padding: 20px;

        h4{
            font-size: 30px;
            border-radius: 10px;
            background-color: #7A1C1C;
            color: white;
            padding: 10px 20px;
            margin-bottom: 20px;
        }

        .format{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            max-width: 130vh;
            max-height: 460px;
            overflow-y: auto;

            .image{
                background-color: brown;
                background-size: cover;
                width: 250px;
                height: 200px;
                margin: 15px 25px;
                border-radius: 20px;
                transition-duration: 0.3s;
            }

            .image:hover{
                translate: -2px -2px;
                box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
            }

            #d1{
                background-image: url(../img/carne_01.jpg);
            }
            #d2{
                background-image: url(../img/carne_04.jpg);
            }
            #d3{
                background-image: url(../img/carne_01.jpg);
            }
            #d4{
                background-image: url(../img/carne_04.jpg);
            }
            #d5{
                background-image: url(../img/carne_01.jpg);
            }
            #d6{
                background-image: url(../img/carne_04.jpg);
            }
        }
    }

    #reserva{
        background-color: #7A1C1C;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        h3{
            flex-basis: 100%;
            text-align: center;
            color: white;
            font-size: 40px;
            margin: 20px;
        }

        img{
            height: 400px;
            margin: 0px 30px;
        }

        form{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            input{
                background-color: #ffffffcc;
                padding: 15px 10px;
                margin: 10px;
                width: 110%; 
                font-size: 20px;
                border-radius: 10px;
                box-shadow: none;
                border: none;
            }

            input::placeholder{
                color: #000000ad;
            }

            input[type="submit"]{
                background-color: #A02C2C;
                border: none;
                color: white;
                font-weight: bold;
                font-family: 'Times New Roman', Times, serif;
                font-size: 23px;
                width: 300px;
                margin-bottom: 20px;
                transition-duration: 0.3s;
            }

            input[type="submit"]:hover{
                translate: -1px -1px;
                box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
            }

            input[type="submit"]:active{
                translate: 0px 0px;
                box-shadow: none;
            }
        }
    }

    #depoimentos{
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;


        h3{
            
            background-color: #7A1C1C;
            color: white;
            padding: 10px;
            font-size: 25px;
            margin: 20px;
            border-radius: 10px;
            width: 250px;
            text-align: center;
        }

        .lista{
            max-width: 90vw;
            display: flex;
            flex-direction: row;
            overflow-x: auto;
            padding: 10px;
            gap: 20px;
            

            .comentario{
                border: 1px solid #000000;
                width: 270px;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;
                border-radius: 30px;
                padding: 20px;
                flex-shrink: 0;

                img{
                    margin-top: 10px;
                }

                .depoimento{
                    margin: 10px 15px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-style: italic;
                    font-weight: 600;
                    flex-grow: 1;
                }

                .nome{
                    width: 230px;
                    font-size: 20px;
                    text-align: left;
                    margin-bottom: 10px;
                }
            }
        }
    }

    #localizacao{
        background-color: #7A1C1C;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        h3{
            color: white;
            text-align: center;
            font-size: 25px;
        }

        .local{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;

            img{
                width: 500px;
            }

            @media (max-width: 650px) {
                img{
                    margin-top: 30px;
                    width: 200px;
                }
            }

            .maps{
                margin-left: 50px;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: space-around;
                align-items: center;
                height: 250px;

                

                p{
                    max-width: 450px;
                    color: white;
                    font-size: 20px;
                    text-align: left;
                }

                a{
                    padding: 10px 30px;
                    border-radius: 10px;
                    background-color: #A02C2C;
                    color: white;
                    text-decoration: none;
                    font-size: 25px;
                    transition-duration: 0.3s;
                }

                a:hover{
                    translate: -1px -1px;
                    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
                }

                /*
                    Eu pensei em adicionar um bloco de texto na tela onde o usuários podreria descrever como seria sua reserva ou ao inves de usar um bloco de texto formatar a tela com opções selecionáveis usando radio-buttom ou check-box ou qaulquer outro campo 
                */
            }
        }
    }

    #fomras_pagamento{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;

        h2{
            background-color: #7A1C1C;
            color: white;
            font-size: 40px;
            width: 800px;
            text-align: center;
            font-weight: bolder;
            border-radius: 10px;
            padding: 5px;
        }

        
        .conjunto{
            width: 800px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .blocos{
                margin: 20px;

                p{
                    align-items: center;
                    text-align: center;
                }
            }
        }

        @media (max-width: 800px) {
            h2{
                font-size: 24px;
                width: 400px;
            }

            .conjunto{
                width: 450px;
            }
        }
    }

}

footer{
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 24px 10px;

    img{
        width: 220px;
    }

    .assistencia{
        position: absolute;
        left: 50%;
        translate: -50%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;

        p{
            text-align: center;
            font-size: 20px;
            color: white;
        }

        .telefone{
            margin-top: 5px;
            width: 200px;

            a{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-around;
                text-decoration: none;

                img{
                    width: 20px;
                }

                p{
                    font-size: 20px;
                    color: white;
                }
            }    
        }

    }

    .creditos{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;

        p{
            color: white;
        }

        a{
            background-color: rgba(255, 255, 255, 0.322);
            color: white;
            margin-top: 5px;
            padding: 5px 10px;
            text-decoration: none;
            font-weight: bold;
        }
    }

    @media (max-width: 935px) {

        /* footer{

        } */

        img{
            width: 120px;
        }

        .assistencia{

            p{
                font-size: 16px;
            }

            .telefone{
                width: 150px;

                a{

                    p{
                        font-size: 18px;
                    }

                    img{
                        width: 15px;
                    }
                }
            }
        }

        .creditos{
            width: 100px;

            p{
                font-size: small;
                text-align: center;
                
            }

            a{
                font-size: small;
                
            }
        }
    }
}